/* ── Start Auth Pages (forget-password.php) ─────────────────────────── */
.auth-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url("../assets/imgs/new-bg.jpeg");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;

    color: white;
    padding-right: 2%;
    gap: 20px;

    clip-path: polygon(0px 0px, 100% 0px, 85.15% 100%, 0px 100%);
}

.auth-gradient-bg {
    background-image: linear-gradient(135deg, #1c2f55, #2563eb);
}

.auth-left h2 {
    font-size: 28px;
    margin: 0;
    text-align: center;
    font-weight: 600;
}

.auth-left p {
    font-size: 16px;
    text-align: center;
    margin: 0;
    line-height: 1.6;
    max-width: 300px;
}

.auth-right {
    flex: 0.8;
    background: #fff;
    padding: 48px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-links {
    position: absolute;
    top: 16px;
    right: 0;
         margin-right: 16px;
}

.nav-links a {
   margin-left: 20px;
    text-decoration: none;
            color: #002060;
            font-weight: bold;
       
}

.nav-links a:hover {
    text-decoration: underline;
}

.auth-logo {
    max-width: 300px;
    height: auto;
    align-self: center;
}

.auth-card {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-around;
}

.auth-card h2 {
    font-size: 24px;
    margin: 3% 0;
    font-weight: 600;
}

.auth-field {
    padding: 3% 0 0 0;
}

.auth-field label {
    margin-bottom: 12px;
    display: inline-block;
}

.auth-field input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 38px 10px 14px;
    border: 1.5px solid #e2e8f0;
    border-radius: 8px;
    font-size: 14px;
    color: #1e293b;
    background: #f8fafc;
    outline: none;
}

.password-wrapper {
    position: relative;
    width: 100%;
}

.toggle-password {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    height: 60%;
}

.auth-btn {
    width: 80%;
    padding: 12px;
    margin-top: 5%;
    margin-bottom: 10%;
    background: #003087;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    align-self: center;
}

.auth-btn:hover {
    background: #002166;
}


.auth-links {
    display: flex;
    justify-content: space-between;
}

.auth-links a {
    font-size: 12px;
    color: #003087;
    text-decoration: none;
    font-weight: 500;
}

.auth-links a:hover {
    text-decoration: underline;
}

/* ── End Auth Pages (forget-password.php) ─────────────────────────── */